.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23rem;
    height: auto;
    background-color: whitesmoke;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form-account a {
    color: #646464;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-right: 0.1em;
}

.form-account a:hover {
    color: #12579c;
}

.form-account a:active {
    color: #0f4377;
}

.form-account, .form-forget-password {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.form-forget-password {
    color: #646464;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-right: 0.1em;
}

.form-forget-password:hover {
    color: #12579c;
}

.error {
    color: rgb(224, 3, 3);
    margin: 0.1em 0 0 2.3em; 
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: green;
    font-size: 1em;
}

.form input.error {
    border-bottom: 1px solid rgb(224, 3, 3);
    color:rgb(224, 3, 3);
} 

/* ########## Media Queries ########## */
@media (max-width: 400px) {
    .form {
        width: 16rem;
        font-size: 0.7em;
        padding: 2rem;
    }
}

@media (max-width: 260px) {
    .form {
        width: 14rem;
        font-size: 0.6em;
        padding: 1.5rem;
    }
}