form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
    height: auto;
    background-color: whitesmoke;
    margin: 7rem auto;
    padding: 2rem;
    border-radius: 1rem;
}
div a {
    color: #646464;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-right: 0.1em;
}

a {
    font-size: 1em;
}

a:hover {
    color: #12579c;
}

a:active {
    color: #0f4377;
}

img {
    margin: 0 auto 1em auto;
    width: 250px;
    height: auto;
}

h1, a {
    color: white;
    text-decoration: none;
}

div, a {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(224, 3, 3);
    font-size: 0.8em;
    margin-top: 0.2em;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: green;
    font-size: 1em;
}

/* ########## Media Queries ########## */
@media (max-width: 400px) {
    form {
        width: 16rem;
        font-size: 0.7em;
        padding: 2rem;
    }

    img {
        width: 200px;
    }
}

@media (max-width: 260px) {
    form {
        width: 14rem;
        font-size: 0.6em;
        padding: 1.5rem;
    }
    img {
        width: 150px;
    }
}