* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #060807;
    height: 100vh;
    display: grid;
    align-content: center;
}