* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #060807;
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}


