button {
    color: whitesmoke;
    background-color: #131313;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.4em;
    margin: 0.7em 0em 1.2em 0em;
    padding: 0.6em;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;

}

button:hover {
    background-color: #12579c;
}
button:active {
    background-color: #0f4377;
}