form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
    height: auto;
    background-color: #311D52;
    margin: 7rem auto;
    padding: 3rem;
    border-radius: 1rem;
}

a {
    font-size: 1em;
}

h1 {
    font-size: 2em;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
}

h1, a {
    color: white;
    text-decoration: none;
}

div, a {
    display: flex;
    justify-content: center;
}
/* Borrar */
/* img { 
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1em;
} */

@media (max-width: 400px) {
    form {
        width: 18rem;
        font-size: 0.7em;
        padding: 2rem;
    }
}

@media (max-width: 250px) {
    form {
        width: 15rem;
        font-size: 0.6em;
        padding: 1.5rem;
    }
}