form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
    height: auto;
    background-color: #23103A;
    margin: 7rem auto;
    padding: 2rem;
    border-radius: 1rem;
}
div a {
    color: rgba(246, 246, 246, 0.6);
    font-size: 0.8em;
    margin: 0.1em;
}

a {
    font-size: 1em;
}

a:hover {
    color: #FF6C00;
}

a:active {
    color: #A0204C;
}

h1 {
    font-size: 2em;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
}

h1, a {
    color: white;
    text-decoration: none;
}

div, a {
    display: flex;
    justify-content: center;
}
/* Borrar */
/* img { 
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1em;
} */

/* ########## Media Queries ########## */
@media (max-width: 400px) {
    form {
        width: 16rem;
        font-size: 0.7em;
        padding: 2rem;
    }
}

@media (max-width: 250px) {
    form {
        width: 14rem;
        font-size: 0.6em;
        padding: 1.5rem;
    }
}