.label-form {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.label-form input {
    border: none;
    outline: none;
    color: #131313;
    background-color: transparent;
    border-bottom: 1px solid #131313;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.8em;
    padding: 0.5rem;
    width: 100%;
}

.label-form input:focus {
    border-bottom: 1px solid #1E90FF;
}

.label-form input::placeholder {
    color: rgba(65, 65, 65, 0.505);
}

.label-form input:-webkit-autofill,
.label-form input:-webkit-autofill:hover, 
.label-form input:-webkit-autofill:focus, 
.label-form input:-webkit-autofill:active  {
    -webkit-box-shadow: none !important; 
    -webkit-text-fill-color: #131313 !important; 
    transition: background-color 5000s ease-in-out 0s; 
}

.label-form input:autofill {
    background: transparent;
}

.icon-form {
    color: #131313;
    margin-top: 0.5em;
}
