.chat-input-container {
    display: flex;
    align-items: center;
    background-color: rgb(47, 47, 47);
    border-top: 1px solid rgb(158, 158, 158);
}

.chat-input {
    width: 100%;
    padding: 0.7em;
    border-radius: 0.5em;
    /* background-color: rgb(227, 227, 227); */
    color:rgb(227, 227, 227);
    background-color: rgb(29, 29, 29);
    margin-left: 0.5em;
    border: none;
}

.chat-input:focus {
    outline: none;
}

.chat-input::placeholder {
    color: rgb(143, 143, 143);
}

.chat-input-icon {
    color: rgb(227, 227, 227);
    margin: 0 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}