input {
border: none;
outline: none;
padding: 0.5rem;
margin-left: 0.5rem;
width: 100%;
background-color: transparent;
border-bottom: 1px solid #ccc;
}

input:focus {
    border-radius: 0.1em;
    background-color: rgba(92, 16, 142, 0.5);
}