.chat-container {
    background-color: rgb(94, 94, 94);
    /* background-color: rgb(30, 30, 30); */
    width: 85vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 0.5rem;
}
